#outer
{
height:1000px;
width:1000px;
border:2px solid chocolate;
}
h1
{
color:red;
text-align:center;
}
#photo
{
height:250px;
width:200px;
border:1px solid;
margin-left:400px;
border-style:shadow;
}
#box
{
height:600px;
width:800px;
//border:1px solid;
margin-left:100px;
margin-top:10px;
}
h2
{
color:blue;
text-align:left;
}
#box1
{
height:30px;
width:600px;
//border:1px solid;
margin-left:300px;
margin-top:30px;
}
td
{
font-family:"Times New Roman";
border-style:double;
}
input
{
	border-style:double;
}
